.app {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem 10rem;
}

.app-center {
  position: relative;
  width: 100%;
  height: 80vh;
  box-shadow: 0 0 1px 5px black;
}

.group {
  background-color: red;
}

.tile-text tspan {
  fill: white;
  font-size: 0.5rem;
  width: 100%;
  font-weight: 500;
  user-select: none;
}

#tooltip {
  position: absolute;
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;
}
